<div class="grid">
	
	<div class="col-12">
		<div class="card">
			<h5>Order List</h5>
			<span class="p-input-icon-left">
				<i class="pi pi-search"></i>
				<input type="text" pInputText [(ngModel)]="emailSearch" placeholder="Search">         
			</span>
			<button pButton type="button" label="Search" icon="pi pi-search" (onClick)="handleSearch()" iconPos="right" class="p-button-text p-button-text"></button>

			<p-table [value]="orders" scrollDirection="both" scrollHeight="400px" styleClass="mt-3">
				<ng-template pTemplate="header">
					<tr>
						<th style="width:200px">CreatedBy</th>
						<th style="width:200px" >Order No</th>
						<th style="width:200px">Order Date</th>
						<th style="width:200px">Product Name</th>
						<th style="width:200px">Total</th>
						<th style="width:200px">Price</th>
						<th style="width:200px">Total Price</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-order>
					<tr>
						<td style="width:200px" >{{order.createdBy}}</td>
						<td style="width:200px" >{{order.orderNo}}</td>
						<td style="width:200px">{{order.orderDate | date:'short'}}</td>
						<td style="width:200px">{{order.productName}}</td>
						<td style="width:200px">{{formatCurrency(order.total)}}</td>
						<td style="width:200px">{{formatCurrency(order.price)}}</td>
						<td style="width:200px">{{formatCurrency(order.totalPrice)}}</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>
