<div class="col-12">
	<div class="card p-fluid">
		<h5>Post Order</h5>
		<div class="field grid">
			<label htmlFor="createdBy" class="col-12 mb-2 md:col-2 md:mb-0">Create By</label>
			<div class="col-12 md:col-10">
				<select class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched"  name="createdBy" id="createdBy" [(ngModel)]="order.createdBy">
					<option class="p-inputtext p-component p-element ng-pristine ng-valid ng-touched" *ngFor="let x of persons" [ngValue]="x.email" >{{x.email}}</option>
				</select>
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="orderDate" class="col-12 mb-2 md:col-2 md:mb-0">Order Date</label>
			<div class="col-12 md:col-10">
				<input pInputText id="orderDate"  [(ngModel)]="order.orderDate" type="date" />
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="productName" class="col-12 mb-2 md:col-2 md:mb-0">Product Name</label>
			<div class="col-12 md:col-10">
				<input pInputText id="productName"  [(ngModel)]="order.productName" type="text" />
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="total" class="col-12 mb-2 md:col-2 md:mb-0">Total</label>
			<div class="col-12 md:col-10">
				<input pInputText id="total"  [(ngModel)]="order.total" type="number" />
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="price" class="col-12 mb-2 md:col-2 md:mb-0">Price</label>
			<div class="col-12 md:col-10">
				<input pInputText id="price"  [(ngModel)]="order.price" type="number" />
			</div>
		</div>
		<div class="field grid">
			<label htmlFor="totalPrice" class="col-12 mb-2 md:col-2 md:mb-0">Total Price</label>
			<div class="col-12 md:col-10">
				<input pInputText id="totalPrice"  [(ngModel)]="order.totalPrice" type="number" />
			</div>
		</div>
		<div class="field grid">
			<div class="col-6 md:col-6">
				<button 
        		    pButton 
        		    type="button"
        		    label="Save" 
        		    icon="pi pi-save"
        		    id="saveBtn"  
        		    class="p-button-text p-button-text"
        		    (click)="saveData($event)">
        		</button> 
			</div>
			<div class="col-6 md:col-6">
				<button 
        		    pButton 
        		    type="button"
        		    label="Clear" 
        		    icon="pi pi-ban"
        		    id="clearBtn"  
        		    class="p-button-text p-button-text"
        		    (click)="clearData($event)">
        		</button> 
			</div>
		</div>
		
	</div>
</div>
